* {
  padding: 0%;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body {
  background-color: #ffffff;

  font-family: Arial;

}


/* Style the navigation bar */
nav {
  background: #2069bd;
  height: auto;
  width: 100%;
}

label.logo {
  font-family: 'Lobster Two', cursive;
  color: white;
  font-size: 55px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

.parent-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px; /* adjust the max-width to your desired value */
}
.container {
  position: relative;
  width: 25%;
  border: 3px solid rgb(6, 126, 201);
  margin-top: 20px;

  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block; /* add this property to display containers in one row */
  vertical-align: top;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .container {
    width: 55%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 75%;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #149cc5;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}